openapi: '3.0.0'
info:
  version: 1.0.0
  title: The Library Company API
  license:
    name: MIT
servers:
  - url: https://api.librarycompany.com/v1
paths:
  /books:
    get:
      summary: Retrieve a paginated list of all books in the library system, supporting advanced filtering by genre, author, and publication year to help users discover relevant titles efficiently.
      operationId: listBooks
      parameters:
        - name: limit
          in: query
          description: Number of books to return per page, with a maximum of 100 items to ensure optimal performance and user experience.
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: Successful response with a paginated collection of book records, including metadata for navigation and total count information.
          headers:
            x-next:
              description: URL link for accessing the next page of results when more books are available beyond the current page.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Books'
        default:
          description: Unexpected error occurred during the request processing, such as server issues or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Add a new book to the library collection by providing essential details like title, author, and publication information for catalog management.
      operationId: createBook
      responses:
        201:
          description: Book successfully created and added to the library system with a unique identifier assigned.
        default:
          description: Unexpected error occurred during book creation, such as validation failures or system constraints.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /books/{bookId}:
    get:
      summary: Fetch detailed information about a specific book using its unique identifier, including metadata, availability status, and borrowing history.
      operationId: getBook
      parameters:
        - name: bookId
          in: path
          required: true
          description: Unique identifier of the book to retrieve, typically an auto-generated UUID or database primary key.
          schema:
            type: string
      responses:
        200:
          description: Book details successfully retrieved with complete information including current status and location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        default:
          description: Unexpected error occurred while fetching book details, such as invalid ID or system unavailability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an existing book's information with new details like corrected title, updated publication date, or changed genre classification.
      operationId: updateBook
      responses:
        200:
          description: Book information successfully updated with the provided changes applied to the system.
        default:
          description: Unexpected error occurred during book update, such as validation errors or permission issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /loans:
    get:
      summary: Get a list of current and historical book loans for tracking borrowing activity, with options to filter by user, date range, or loan status.
      operationId: listLoans
      parameters:
        - name: status
          in: query
          description: Filter loans by their current status, such as active, overdue, or returned, to focus on specific loan states.
          required: false
          schema:
            type: string
            enum: [active, overdue, returned]
      responses:
        200:
          description: Loan records successfully retrieved with pagination support for handling large numbers of borrowing transactions.
          headers:
            x-next:
              description: Link to the next page of loan results when additional records exist beyond the current response.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Loans'
        default:
          description: Unexpected error occurred while retrieving loan information, such as database connectivity issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Book:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        author:
          type: string
        genre:
          type: string
        published_year:
          type: integer
    Books:
      type: array
      items:
        $ref: '#/components/schemas/Book'
    Loan:
      required:
        - id
        - book_id
        - user_id
      properties:
        id:
          type: integer
          format: int64
        book_id:
          type: integer
          format: int64
        user_id:
          type: integer
          format: int64
        loan_date:
          type: string
          format: date
        return_date:
          type: string
          format: date
        status:
          type: string
          enum: [active, overdue, returned]
    Loans:
      type: array
      items:
        $ref: '#/components/schemas/Loan'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string